*
body{
background-color: rgba(248, 238, 225, 0.63);
color: rgba(0, 0, 0, 0.788);
font-size: 20px;
font-weight: 900;
}
.card-body {
    background-color: rgba(12, 126, 134, 0.322);
    font-size: 23px;
}
.employee-card {
    box-shadow: 10px 6px 6px rgba(68, 45, 170, 0.877);
    margin: 1.9rem;
  
}
.jumbotron {
    border-radius: 1;
    
}

